<footer>
  <div class="header">
    <p>Join Over <b>700+ business</b> working with us to fulfill your last mile delivery needs</p>
  </div>
  <div class="body">
    <ul>
      <li>Company</li>
      <li>About Us</li>
      <li>Careers</li>
      <li>Contact Us</li>
    </ul>
    <ul>
      <li>Explore</li>
      <li>For Businesses</li>
      <li>For Customers</li>
      <li>Blog</li>
    </ul>
    <ul>
      <li>Get in Touch</li>
      <li>contact@heykarry.com</li>
      <li>+97144327639</li>
      <li>
        <i class="fab fa-facebook-f social-icons"></i>
        <i class="fab fa-linkedin-in social-icons"></i>
        <i class="fab fa-twitter social-icons"></i>
        <i class="fab fa-instagram social-icons"></i>
      </li>
    </ul>
  </div>
  <div class="footer text-center">
    <p>© Copyright 2023 - 2024 | All Rights Reserved | Designed by Ignite Labs | Terms and Conditions | Privacy and Policy</p>
  </div>
</footer>
