.hero-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/hero-image.jfif);
}



.description{
  padding-left: 5rem;
}

.business-section{
  padding: 10rem 0;
}

section > h3{
  font-size: 2.2rem;
  font-weight: 900;
  padding: 0 0 50px 0;
}

::ng-deep .carousel-control-next, ::ng-deep .carousel-control-prev{
  display: none;
}

::ng-deep .carousel-indicators [data-bs-target]{
  width: 13px !important;
  height: 13px !important;
  background-color: #fff;
  background-clip: unset;
  border-top: unset !important;
  border-bottom: unset !important;
  border-radius: 100vw !important;
}

.business-section h2{
  padding: 30px 0;
  font-weight: 800;
}

.business-section .description{
  font-size: 17px;
  font-weight: 500;
  padding-left: 140px;
}

.service-section{
  position: relative;
  min-height: 100vh;
  background-color: #fbdc08;
  padding: 12rem 0 6rem 0;
}

.service-section > h2{
  padding: 40px 0;
}
.custom-shape-divider-top-1693093920 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693093920 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1693093920 .shape-fill {
  fill: #FFFFFF;
}

.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 40px;
  margin: 30px 0;
  justify-content: center;
}

.service-card{
  max-width: 420px;
  width: 390px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  min-height: 345px;
}

.service-card img{
  width: 80px;
}

.service-card .title{
  font-size: 26px;
  font-weight: 800;
  margin: 10px 0;
}

.service-card .card-description{
  font-size: 20px;
  font-weight: 500;
}

.request-btn{
  background-color: #3abeba;
  color: #000;
  transition: all 0.3s ease;
  padding: 10px 30px;
  font-weight: 500;
  border: none;
  text-align: center;
  display: block;
  margin: 70px auto 0 auto;
}

.request-btn:hover{
  background-color: #32cfcadd;
  color: #fff;
}

::ng-deep .explore-section .picsum-img-wrapper img{
  object-fit: contain;
  width: 1400px;
}

.explore-section h2 {
  font-weight: 700;
}
.explore-section p {
  font-weight: 500;
}



@media only screen and (max-width: 700px) {
  .business-section .description{
    padding-left: 0;
  }

  .service-section {
    padding: 5rem 0 6rem 0;
  }

  .service-card{
    width: 320px;
  }

  ::ng-deep .explore-section .picsum-img-wrapper img{
    object-fit: contain;
    width: 100%;
  }
}
